<div class="wish_container">

  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h3 class="display-5">願望清單</h3>
      <p class="lead">這裡是你的口袋清單，要自己出隊還是參加既有的隊伍呢？  <%= link_to new_wish_path, id: "create-wish", class: "my-btn my-btn-transparent" do %><button class ="btn btn-outline-info">  立刻許願 </button><% end %></p>
        
      <hr>
    
      或者... <%= link_to "想了解有哪些路線", hikings_path, class: "btn btn-outline-info"%>
   
    </div>
  </div>

  <h5 id="seq">排序方式 

  <div class="btn-group" role="group" aria-label="Basic example">
    <button type="button" class="btn btn-light">日期</button>
    <button type="button" class="btn btn-light">狀態</button>
   
  </div>

  <div class="btn-group" role="group" aria-label="Basic example">
    <button type="button" class="btn btn-light">正序</button>
    <button type="button" class="btn btn-light">逆序</button>
  </div>

  </h5>

  <div class="panel panel-info">

    <!-- Wish List -->
    <div class="my-table table table-hover">
    <% if @wishes.count < 1 %><br>目前沒有任何願望... <% end %>
      <div id="wishlist">
        <% @wishes.each do |wish| %>          
          <div id="<%= wish.id %>">
            <%= render :partial => "wish", :locals => { :wish => wish } %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <h4 id="end" class="text-center"></h4>
  <!-- Add new wish -->