<div class="wish_container">

  <h1 class="text-center">願望清單</h1>

  <div class="panel panel-info">

    <!-- Wish List -->
    <div class="my-table table table-hover">
      <div id="wishlist">
        <% @wishes.each do |wish| %>          
          <div id="<%= wish.id %>">
            <%= render :partial => "wish", :locals => { :wish => wish } %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <h4 id="end" class="text-center"></h4>
  <!-- Add new wish -->
  <button id="create-wish" class="my-btn my-btn-transparent"><%= link_to 'Create Wish', new_wish_path %></button>
  <div><p class="num">testtest</p></div>
</div>

<script>

  $("#wishlist").on("click", "#get-wish-id", function(event) {
    var id = event.target.parentNode.id;
    var wish = $('<div class="col-xs-4"></div>');
    wish.append('<p class="num"></p>');
    wish.append('<div class="name"></div>');

    wish.find("p").html('#' + id );
    wish.find(".name").html(name);
    $("#wishlist").append(wish);
  });

</script>

<script type="text/template" id="wish-template">
  <p>I'm wish template</p>
</script>