<h1>[登山許願池] 歡迎加入登山許願池</h1>

<p>
   hi <%= @user.name %> <br>
   歡迎加入 <a href="https://hikingwish.tw">登山許願池</a><br>
   
   你可以參考一下我們的 <a> 教學流程 </a>
   或是 你已經等不及 想來 <a herf="https://hikingwish.tw">許下一個登山的願望</a>了呢？
   
</p>
