<% @notifications.each do |notify| %>
    
    <ul id="notifications" class="list-group">
        <%= link_to notification_path(notify), class: "list-group-item list-group-item-action" do %> 
            <% if !notify.is_readed %>
                <span class="badge badge-danger"> new </span>
            <% end %>
            <%=notify.content %> 
        <% end %>
    </ul>
<% end %>