<div class="member_list"> <span class="badge badge-light"> 隊員  <%= plan.members.count %> </span>  
    <% plan.members.each do |user| %>
        <% if user.avatar? %>
          <%= image_tag user.avatar, width: "50px" %>
        <% else %>  
          <img src="https://fakeimg.pl/50x50/">
        <% end %>  
        <%= user.email %> 
    <% end %>
 </div>