<div class="plan">
    <span class="badge badge-info">自組團</span>
    <%=wish.name %>  
    <%= wish.start_date %> ~ <%= wish.end_date %> 
    <span class="badge badge-success">包車</span>
    <span class="badge badge-success">包餐</span>
</div>


