
<div id="quick_wish"> 
<h3> 來許個願吧! 你想去哪條路線？ </h3>

<div id="index-form">
 <div class="form-group col-md-4">
<input class="form-control" type="text" placeholder="你想爬的路線">
從 <input class="form-control" type="text" placeholder="開始日期"> 
到 <input class="form-control" type="text" placeholder="結束日期">
<button class="btn btn-outline-info">許願</button>
</div>
</div>

</div>




<hr>


<div>
<h3> </h3>
<img src="https://fakeimg.pl/1068x300/">

</div>



<hr>
<div id="category_link">
<h3> 你在找特定路線嗎？ </h3>
<div class="category"><a><img src="https://fakeimg.pl/100x50/"> 新手路線    </a></div>
<div class="category"><a><img src="https://fakeimg.pl/100x50/"> 單日健行    </a> </div>
<div class="category"><a><img src="https://fakeimg.pl/100x50/"> 過夜行程    </a> </div>
<div class="category"><a><img src="https://fakeimg.pl/100x50/"> 長程縱走    </a> </div>
<div class="category"><a><img src="https://fakeimg.pl/100x50/"> 郊山       </a></div>
<div class="category"><a><img src="https://fakeimg.pl/100x50/"> 中級山     </a></div>
<div class="category"><a><img src="https://fakeimg.pl/100x50/"> 百岳路線   </a></div>
<div class="category"><a><img src="https://fakeimg.pl/100x50/"> 高山湖泊   </a></div>

<div class="clearfix"></div>
</div>


<!-- 
<hr>
<div>

<h3> 你想要找什麼？ </h3>

    <ul>
        <li>登山計畫</li>
        <li></li>
    </ul>

</div>
-->

<hr>
<div id="short_plans"> 
<h3>週末就出發的短天數行程</h3>

    <div class="plan">
        <div class="plan_iamge">
            <img src="https://fakeimg.pl/200x150/">
        </div>
        <div class="plan_info">
            <div> <span class="badge badge-info">自組團</span></div>
            
            <div>武陵二秀</div>
            <div>  2018/10/26 ~ 2018/10/28 </div>
            <div> <span class="badge badge-info"> 武陵二秀 - 桃山 喀拉葉 </span> </div>
            <div> <span class="badge badge-info"> 兩天兩夜 </span> </div>
            <div> <span class="badge badge-light"> 中等難度 </span> <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></div>
            <div> <span class="badge badge-light">費用尚未決定</span> 2000~4000  </div>
            <div>由 <a> <b> 北極星嚮導群 </b></a> 主辦</div>
        </div>
        <div class="plan_descript">
            <div> <span class="badge badge-secondary">自駕 油錢分擔</span>  <span class="badge badge-secondary">私糧自炊</span></div>
          桃山位於武陵農場北方，屬雪山山脈，海拔高度3325公尺，為武陵四秀之一，百岳排名第49；稜線為新竹縣尖石鄉與台中市和平區的分界嶺，山頂有三等三角點6327號。在泰雅語中稱「Babo Kaba」，意為「拳頭山」，而山形自西南側展望狀似桃子，因而得名。
山頂可眺望聖稜線、北一二三段群峰，有360度的極佳展望。
        </div>
        <div class="button-group"> 
            <button class="btn btn-outline-danger"> <i class="fas fa-heart"></i> 加入願望 </button>
            <button class="btn btn-outline-info"> <i class="fas fa-location-arrow"></i> 申請加入 </button>
        </div>
        <div class="clearfix"></div>
    </div>


</div>
<hr>
<div id="easy_plans"> 
<h3>新手也可以加入的低難度行程</h3>

    <div class="plan">
        <div class="plan_iamge">
            <img src="https://fakeimg.pl/200x150/">
        </div>
        <div class="plan_info">
            <div> <span class="badge badge-info">自組團</span></div>
            
            <div>武陵二秀</div>
            <div>  2018/10/26 ~ 2018/10/28 </div>
            <div> <span class="badge badge-info"> 武陵二秀 - 桃山 喀拉葉 </span> </div>
            <div> <span class="badge badge-info"> 兩天兩夜 </span> </div>
            <div> <span class="badge badge-light"> 中等難度 </span> <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></div>
            <div> <span class="badge badge-light">費用尚未決定</span> 2000~4000  </div>
            <div>由 <a> <b> 北極星嚮導群 </b></a> 主辦</div>
        </div>
        <div class="plan_descript">
            <div> <span class="badge badge-secondary">自駕 油錢分擔</span>  <span class="badge badge-secondary">私糧自炊</span></div>
          桃山位於武陵農場北方，屬雪山山脈，海拔高度3325公尺，為武陵四秀之一，百岳排名第49；稜線為新竹縣尖石鄉與台中市和平區的分界嶺，山頂有三等三角點6327號。在泰雅語中稱「Babo Kaba」，意為「拳頭山」，而山形自西南側展望狀似桃子，因而得名。
山頂可眺望聖稜線、北一二三段群峰，有360度的極佳展望。
        </div>
        <div class="button-group"> 
            <button class="btn btn-outline-danger"> 加入願望 </button>
            <button class="btn btn-outline-info"> 申請加入 </button>
        </div>
        <div class="clearfix"></div>
    </div>


    <div class="plan">
        <div class="plan_iamge">
            <img src="https://fakeimg.pl/200x150/">
        </div>
        <div class="plan_info">
            <div> <span class="badge badge-info">自組團</span></div>
            
            <div>武陵二秀</div>
            <div>  2018/10/26 ~ 2018/10/28 </div>
            <div> <span class="badge badge-info"> 武陵二秀 - 桃山 喀拉葉 </span> </div>
            <div> <span class="badge badge-info"> 兩天兩夜 </span> </div>
            <div> <span class="badge badge-light"> 中等難度 </span> <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></div>
            <div> <span class="badge badge-light">費用尚未決定</span> 2000~4000  </div>
            <div>由 <a> <b> 北極星嚮導群 </b></a> 主辦</div>
        </div>
        <div class="plan_descript">
            <div> <span class="badge badge-secondary">自駕 油錢分擔</span>  <span class="badge badge-secondary">私糧自炊</span></div>
          桃山位於武陵農場北方，屬雪山山脈，海拔高度3325公尺，為武陵四秀之一，百岳排名第49；稜線為新竹縣尖石鄉與台中市和平區的分界嶺，山頂有三等三角點6327號。在泰雅語中稱「Babo Kaba」，意為「拳頭山」，而山形自西南側展望狀似桃子，因而得名。
山頂可眺望聖稜線、北一二三段群峰，有360度的極佳展望。
        </div>
        <div class="button-group"> 
            <button class="btn btn-outline-danger"> 加入願望 </button>
            <button class="btn btn-outline-info"> 申請加入 </button>
        </div>
        <div class="clearfix"></div>
    </div>

</div>
<hr>
<div id="almost_plans"> 
<h3>就差你一個，快加入吧！<span class="second-title">即將滿團的計畫</span></h3>


    <div class="plan">
        <div class="plan_iamge">
            <img src="https://fakeimg.pl/200x150/">
        </div>
        <div class="plan_info">
            <div> <span class="badge badge-info">自組團</span></div>
            
            <div>武陵二秀</div>
            <div>  2018/10/26 ~ 2018/10/28 </div>
            <div> <span class="badge badge-info"> 武陵二秀 - 桃山 喀拉葉 </span> </div>
            <div> <span class="badge badge-info"> 兩天兩夜 </span> </div>
            <div> <span class="badge badge-light"> 中等難度 </span> <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></div>
            <div> <span class="badge badge-light">費用尚未決定</span> 2000~4000  </div>
            <div>由 <a> <b> 北極星嚮導群 </b></a> 主辦</div>
        </div>
        <div class="plan_descript">
            <div> <span class="badge badge-secondary">自駕 油錢分擔</span>  <span class="badge badge-secondary">私糧自炊</span></div>
          桃山位於武陵農場北方，屬雪山山脈，海拔高度3325公尺，為武陵四秀之一，百岳排名第49；稜線為新竹縣尖石鄉與台中市和平區的分界嶺，山頂有三等三角點6327號。在泰雅語中稱「Babo Kaba」，意為「拳頭山」，而山形自西南側展望狀似桃子，因而得名。
山頂可眺望聖稜線、北一二三段群峰，有360度的極佳展望。
        </div>
        <div class="button-group"> 
            <button class="btn btn-outline-danger"> 加入願望 </button>
            <button class="btn btn-outline-info"> 申請加入 </button>
        </div>
        <div class="clearfix"></div>
    </div>


    <div class="plan">
        <div class="plan_iamge">
            <img src="https://fakeimg.pl/200x150/">
        </div>
        <div class="plan_info">
            <div> <span class="badge badge-info">自組團</span></div>
            
            <div>武陵二秀</div>
            <div>  2018/10/26 ~ 2018/10/28 </div>
            <div> <span class="badge badge-info"> 武陵二秀 - 桃山 喀拉葉 </span> </div>
            <div> <span class="badge badge-info"> 兩天兩夜 </span> </div>
            <div> <span class="badge badge-light"> 中等難度 </span> <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></div>
            <div> <span class="badge badge-light">費用尚未決定</span> 2000~4000  </div>
            <div>由 <a> <b> 北極星嚮導群 </b></a> 主辦</div>
        </div>
        <div class="plan_descript">
            <div> <span class="badge badge-secondary">自駕 油錢分擔</span>  <span class="badge badge-secondary">私糧自炊</span></div>
          桃山位於武陵農場北方，屬雪山山脈，海拔高度3325公尺，為武陵四秀之一，百岳排名第49；稜線為新竹縣尖石鄉與台中市和平區的分界嶺，山頂有三等三角點6327號。在泰雅語中稱「Babo Kaba」，意為「拳頭山」，而山形自西南側展望狀似桃子，因而得名。
山頂可眺望聖稜線、北一二三段群峰，有360度的極佳展望。
        </div>
        <div class="button-group"> 
            <button class="btn btn-outline-danger"> 加入願望 </button>
            <button class="btn btn-outline-info"> 申請加入 </button>
        </div>
        <div class="clearfix"></div>
    </div>


</div>

