<div class="row">
  <!-- 下面這個元件在 xs 會佔用 12 格，在 md 會佔用 10 格，以此類推 -->
  <div class="col-xs-6 col-md-4" style="background-color:blue; font-size:50px; text-align:center; height:180px; line-height:180px;">新手路線</div>
  <div class="col-xs-6 col-md-4" style="background-color:yellow; font-size:50px; text-align:center; height:180px; line-height:180px;">單日健行</div>
  <div class="col-xs-6 col-md-4" style="background-color:green; font-size:50px; text-align:center; height:180px; line-height:180px;">過夜行程</div>
  <div class="col-xs-6 col-md-4" style="background-color:red; font-size:50px; text-align:center; height:180px; line-height:180px;">長程縱走</div>
  <div class="col-xs-6 col-md-4" style="background-color:white; font-size:50px; text-align:center; height:180px; line-height:180px;">許個願吧！</div>
  <div class="col-xs-6 col-md-4" style="background-color:yellow; font-size:50px; text-align:center; height:180px; line-height:180px;">中級山</div>
  <div class="col-xs-6 col-md-4" style="background-color:green; font-size:50px; text-align:center; height:180px; line-height:180px;">百岳路線</div>
  <!-- xs 是全域套用，所以下面兩個元件在所有的 media query 都佔用 6 格 -->
  <div class="col-xs-6 col-md-4" style="background-color:red; font-size:50px; text-align:center; height:180px; line-height:180px;">高山湖泊</div>
  <div class="col-xs-6 col-md-4" style="background-color:blue; font-size:50px; text-align:center; height:180px; line-height:180px;">郊山</div>
</div>

