<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h3 class="display-5">登山計畫</h3>
    <p class="lead">你目前還沒有任何登山計畫！</p>
    想 <button class="btn btn-outline-info"> 立刻開新的計劃 </button>  還是  <button class="btn btn-outline-info"> 看看別人的登山計畫 </button> 呢？
  </div>
</div>


