<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h3 class="display-5">登山計畫</h3>
    <p class="lead">你所參與的登山計畫，就快要可以出發摟！</p>
    還是... <button class="btn btn-outline-info"> 要開新的計劃 </button>  <button class="btn btn-outline-info"> 看看別人的登山計畫ㄔ </button>
  </div>
</div>
