<h3> 編輯登山計畫</h3>

<form>

<div class="form-group row">
    <div class="col-sm-10">
      <input class="form-control form-control-lg" type="text" placeholder="計畫名" value="武陵二秀">
    </div>
</div>

<label>時間區間</label>
<div class="form-group row"> 
   <div class="col-sm-3">
   <input class="form-control" type="text" placeholder="起始時間" value="2018/10/1">
   </div>
   到
   <div class="col-sm-3">
   <input class="form-control" type="text" placeholder="結束時間" value="2018/12/1">
   </div>
</div>

<label>備註</label>
  <textarea class="form-control">
  
  </textarea>



<label>組團方式</label>
<div>
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
    <label class="form-check-label" for="inlineRadio1">未定</label>
  </div>
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
    <label class="form-check-label" for="inlineRadio1">自組隊伍</label>
  </div>
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
    <label class="form-check-label" for="inlineRadio2">外包商業隊伍</label>
  </div>
</div>

<br>
<label>計畫狀態</label><br>
  <div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
  <label class="form-check-label" for="inlineRadio1">公開</label>
</div>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
  <label class="form-check-label" for="inlineRadio2">私人</label>
</div>
  <button class="btn btn-info"> 存檔 </button>

<hr>
<label>費用預算</label><br>
計費方式 <br>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
  <label class="form-check-label" for="inlineRadio1">預先收費，不退不捕</label>
</div>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
  <label class="form-check-label" for="inlineRadio1">預先收費，多退少補</label>
</div>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
  <label class="form-check-label" for="inlineRadio2">結算後均攤</label>
</div>
<br><br>
收費包含<br>
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
    <label class="form-check-label" for="inlineCheckbox1">D0住宿</label>
  </div>
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
    <label class="form-check-label" for="inlineCheckbox1">交通</label>
  </div>
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
    <label class="form-check-label" for="inlineCheckbox1">晚餐</label>
  </div>
    <div class="form-check form-check-inline">
    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
    <label class="form-check-label" for="inlineCheckbox1">保險</label>
  </div>
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
    <label class="form-check-label" for="inlineCheckbox1">未定</label>
  </div>

<br>
預算範圍 <br>
<div class="form-group row"> 
   <div class="col-sm-3">
   <input class="form-control" type="text" placeholder="最低預算" value="0">
   </div>
   到
   <div class="col-sm-3">
   <input class="form-control" type="text" placeholder="最高預算" value="10000">
   </div>
   
   <br>
  
</div>

<label>最終預算</label>
<div class="form-group row"> 
<div class="col-sm-3">
    <input class="form-control" type="text" placeholder="最終預算" value="7800">
</div>
</div>

<hr>
<label>參考路線 <button class="btn btn-light"> 重設為範本預設值 </button></label>
<div>
  武陵二秀 - 桃山喀拉業 兩天兩夜 <button class="btn btn-info"> 更換 </button> <button class="btn btn-light"> 清除 </button>  <br>
 
   <span class="badge badge-light"> 中等難度 </span>  <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>

<br>
<label>日程表</label>
  <textarea class="form-control">
  
  </textarea>
</div>

<hr>
<label>住宿資訊</label>
<div class="form-group row"> 
   <div class="col-sm-1"> D0 </div>
   <div class="col-sm-3">
   <input class="form-control" type="text" placeholder="住宿地點" value="">
   </div>
</div>

<hr>

<label>交通方式</label>
<div>
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" id="inlineCheckbox1" value="option1">
    <label class="form-check-label" for="inlineCheckbox1">未定</label>
  </div>
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" id="inlineCheckbox1" value="option1">
    <label class="form-check-label" for="inlineCheckbox1">自駕 油錢分擔</label>
  </div>
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" id="inlineCheckbox2" value="option2">
    <label class="form-check-label" for="inlineCheckbox2">共乘 油錢分擔</label>
  </div>
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" id="inlineCheckbox3" value="option3">
    <label class="form-check-label" for="inlineCheckbox3">包車</label>
  </div>
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" id="inlineCheckbox3" value="option3">
    <label class="form-check-label" for="inlineCheckbox3">大眾運輸</label>
  </div>
</div>

<hr>

<label>計畫狀態</label><br>
  <div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
  <label class="form-check-label" for="inlineRadio1">公開</label>
</div>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
  <label class="form-check-label" for="inlineRadio2">私人</label>
</div>
  <button class="btn btn-info"> 存檔 </button>
  <button class="btn btn-danger"> 鎖定 </button>