
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h3 class="display-5">願望清單</h3>
    <p class="lead">這裡是你的口袋清單，要自己出隊還是參加既有的隊伍呢？</p>
    或者... <button class="btn btn-outline-info"> 我想了解有哪些路線 </button>  <button class="btn btn-outline-info"> 還想許更多的願望 </button>
  </div>
</div>