<h3> 編輯願望</h3>

<form>

<div class="form-group row">
    <div class="col-sm-10">
      <input class="form-control form-control-lg" type="text" placeholder="願望" value="武陵二秀">
    </div>
</div>

<label>時間區間</label>
<div class="form-group row"> 
   <div class="col-sm-3">
   <input class="form-control" type="text" placeholder="起始時間" value="2018/10/1">
   </div>
   到
   <div class="col-sm-3">
   <input class="form-control" type="text" placeholder="結束時間" value="2018/12/1">
   </div>
</div>

<label>備註</label>
  <textarea class="form-control">
  
  </textarea>

  <div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
  <label class="form-check-label" for="inlineRadio1">公開</label>
</div>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
  <label class="form-check-label" for="inlineRadio2">私人</label>
</div>
  <button class="btn btn-info"> 存檔 </button>
<hr>
<label>參考路線</label>
<div>
  武陵二秀 - 桃山喀拉業 兩天兩夜 <button class="btn btn-info"> 更換 </button> <button class="btn btn-light"> 清除 </button>  <br>
 
   <span class="badge badge-light"> 中等難度 </span>  <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>


</div>

<hr>
<label>組團方式</label>
<div>
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineRadio1" value="option1">
    <label class="form-check-label" for="inlineRadio1">皆可</label>
  </div>
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineRadio1" value="option1">
    <label class="form-check-label" for="inlineRadio1">自組隊伍</label>
  </div>
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineRadio2" value="option2">
    <label class="form-check-label" for="inlineRadio2">外包商業隊伍</label>
  </div>
</div>
<br>
<label>預算區間</label>
<div class="form-group row"> 
   <div class="col-sm-3">
   <input class="form-control" type="text" placeholder="最低預算" value="0">
   </div>
   到
   <div class="col-sm-3">
   <input class="form-control" type="text" placeholder="最高預算" value="10000">
   </div>
</div>

<hr>
<label>交通方式</label>
<div>
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
    <label class="form-check-label" for="inlineCheckbox1">皆可</label>
  </div>
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
    <label class="form-check-label" for="inlineCheckbox1">自駕 油錢分擔</label>
  </div>
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
    <label class="form-check-label" for="inlineCheckbox2">共乘 油錢分擔</label>
  </div>
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
    <label class="form-check-label" for="inlineCheckbox3">包車</label>
  </div>
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
    <label class="form-check-label" for="inlineCheckbox3">大眾運輸</label>
  </div>
</div>

<label>食</label>
<div>
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
    <label class="form-check-label" for="inlineCheckbox1">皆可</label>
  </div>
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
    <label class="form-check-label" for="inlineCheckbox1">包餐</label>
  </div>
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
    <label class="form-check-label" for="inlineCheckbox2">公糧公炊 費用分攤</label>
  </div>
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
    <label class="form-check-label" for="inlineCheckbox3">私糧私炊</label>
  </div>
</div>