
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h3 class="display-5">願望清單</h3>
    <p class="lead">這裡是你的願望清單，不過現在都還空空的，要不要先 <button class="btn btn-outline-info"> 直接許第一個願望 </button></p>
    或者... <button class="btn btn-outline-info"> 先了解有哪些路線 </button>  
  </div>
</div>