 <div class="row">
            <div class="col-md-3">            
                <%= image_tag @hiking.image, width: "200px", hight: "150px" %>
            </div>
            <div class="col-md-3">      
                        
                <div><%= @hiking.name %> </div>
                <hr>
            
                
            </div>
            <div class="col-md-3">   
                <div> 
                    <i class="far fa-calendar-alt"></i>
                    <span class="badge badge-light"> 兩天兩夜 <%= @hiking.day %></span> 
                </div>

                <div> 
                    <i class="fas fa-bolt"></i> <span class="badge badge-light"> 難度 </span>
                     <%= @hiking.level %><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
                </div>

            </div>
            <div class="col-md-3">   



            </div>
        
</div>