/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require jquery-ui
 */
 @import "font-awesome";
 @import "bootstrap";


html {
    width: 100%;
    height: 100%;
}
body {
    width: 100%;  
}

#wrapper
{
    min-height: calc(100vh - 50px)
}

  #registration_form,#change_password_form
{
    margin-left:auto;
    margin-right:auto;
    width:500px;

}
#registration_form h2,#change_password_form h2
{
    font-size:1.3em;
}


#user_profile th
{
    text-align:right;
}




.category{
    border: 1px #ccc solid;
    border-radius:10px;
    margin:10px;
    width:250px;
    float: left;
}




.category img{
    border-radius:10px 0 0 10px;
}

#category_link a:link
{
    color: black;
}
/* visited link */
#category_link a:visited {
    color: black;
}

/* mouse over link */
#category_link  a:hover {
    color: gray;
}

/* selected link */
#category_link a:active {
    color: #17a2b8;
}


.second-title{

font-size:20px;
}

.button-group
{
    float:left;
    width:100px;
}
.button-group *
{   
    margin: 5px;
    margin-left: 10px;
}


/* hiking */


.hiking{
    padding:10px;
    border: 1px #ccc solid;
    border-radius:10px;
    margin: 10px;
}


.hiking_iamge
{
    float:left;
    width: 200px;
    height: 150px;

}



.hiking_descript
{
    float:left;
    width: 450px;
    font-size: 10px;
}


.hiking_info
{
    float:left;
    width: 200px;
    padding-left:10px;
    font-size: 14px;


}
/* plan */



.plan{
    padding:10px;
    border: 1px #ccc solid;
    border-radius:10px;
    margin: 10px;
}
.plan 
{
    height:172 px;
}

.plan_iamge
{
    width: 200px;
    height: 150px;
    float:left;
}



.plan_descript
{
    float:left;
    width: 450px;
    font-size: 10px;
}


.plan_info
{
    width: 600px;
    padding-left:10px;
    font-size: 14px;
    float:left;

}



/* wish */

.wish{

    padding:10px;
    border: 1px #ccc solid;
    border-radius:10px;
    margin: 10px;
}
.wish 
{
    height:172 px;
}

.wish_iamge, .wish_info, .wish_descript
{
    float:left;
}

.wish_info
{
    width: 200px;
    padding-left:10px;
    font-size: 14px;

}

.wish_descript
{
    width: 500px;
    font-size: 10px;

}

.wish_action
{


}

.member_list img
{

  border-radius: 50%;
  border: 2px solid #ffffff;

}

.fa-star
{
  color: #F7C242
}




#footer
{
    font-size: 6 px;
    color:#999999;
    margin-top:20px;
    padding-top:20px;
    padding-bottom:20px;
    width:100%;
    
    text-align:center;
}

#footer a
{
    font-size: 6 px;
    color:#777777;
}

.logo
{
    width:32px;
    height:32px;
}

.time-tag
{
    color: gray;
}

.col-centered{
    margin: 0 auto;
}
