// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#quick_wish 
{
    color: #ffffff;
    height:700px;
    padding-left:40px;
    background-image: image-url("landing_pool.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat; 
}

#quikck_wish nav
{
    color: #ffffff;
    background-color: "transparent";
}

#quikck_wish a
{
    color: #ffffff;
    background-color: "transparent";
}

#quick_form
{

    margin-top:40px;
    margin-left:40px;

}