<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h3 class="display-5">登山計畫</h3>
    <p class="lead">在線上可加入的登山計畫，快找找有沒有想加入的計畫吧！</p>
    還是要...  <%= link_to ' 關心一下自己的登山計畫', plans_path, class: "btn btn-outline-info" %>
  </div>
</div>


<h5>排序方式</h5>

<div class="btn-group" role="group" aria-label="Basic example">
  <button type="button" class="btn btn-light">日期</button>
  <button type="button" class="btn btn-light">主辦人</button>
  <button type="button" class="btn btn-light">完成度</button>
</div>

<div class="btn-group" role="group" aria-label="Basic example">
  <button type="button" class="btn btn-light">正序</button>
  <button type="button" class="btn btn-light">逆序</button>
</div>


<% @plans.each do |plan| %>
  <%= render :partial => "shared/plan_card", :locals => { :plan => plan } %>
<% end %>
