<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h3 class="display-5">登山計畫</h3>
    <p class="lead">你所參與的登山計畫，就快要可以出發摟！</p>
    還是要... <%= link_to '開新的計劃', new_plan_path, class: "btn btn-outline-info" %> <%= link_to ' 看看別人的登山計畫', all_plans_path, class: "btn btn-outline-info" %>
  </div>
</div>


<h5>排序方式</h5>

<div class="btn-group" role="group" aria-label="Basic example">
  <button type="button" class="btn btn-light">日期</button>
  <button type="button" class="btn btn-light">主辦人</button>
  <button type="button" class="btn btn-light">完成度</button>
</div>

<div class="btn-group" role="group" aria-label="Basic example">
  <button type="button" class="btn btn-light">正序</button>
  <button type="button" class="btn btn-light">逆序</button>
</div>


 <% @plans.each do |plan| %>
  <%= render :partial => "card", :locals => { :plan => plan } %>
 <% end %>