<div class="container">

    <%= render partial: 'plan_status', locals: { plan: @plan } %>

<hr>
<div class="row">

  <% unless @wishes.nil?
    @wishes.each do |wish| %>
      <% if wish.user != @plan.owner %> 
        <%= render :partial => "shared/wish_info", :locals => { :wish => wish } %>
      <% end %>
    <% end %>
  <% end %>

</div>
  